llama-index-core
llama-index-readers-file
llama-index-llms-nvidia
llama-index-embeddings-nvidia
llama-index-postprocessor-nvidia-rerank
llama-index-vector-stores-Milvus
ipywidgets
gradio
nemoguardrails
OpenAI
langchain-nvidia-ai-endpoints
torch torchvision torchaudio
tensorflow
flax
